* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 5% 0 5%;
    display: flex;
}

@mixin flex($display, $justify-content, $align-items) {
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
}