* {
  margin: 0;
  padding: 0; }

.container {
  width: 90%;
  margin: 0 5% 0 5%;
  display: flex; }

.header {
  width: 100%;
  height: 145px; }
  .header__logo {
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 0 5% 0 5%;
    height: 50px;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC; }
    .header__menu ul {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .header__menu ul li {
      list-style: none;
      line-height: 20px; }
    .header__menu ul li a {
      color: #686868;
      text-decoration: none; }
  .header__menu--login {
    font-family: "Open Sans";
    width: 20%;
    font-size: 12px; }
  .header__menu--options {
    min-width: 400px;
    width: 20%;
    margin: 0 5% 0 5%;
    font-size: 14px;
    font-family: "Open Sans"; }
  .header__menu--finder {
    width: 20%;
    font-size: 12px;
    font-family: "Open Sans"; }
    .header__menu--finder li:first-of-type {
      margin-right: 10px;
      border-bottom: 1px solid #CCCCCC; }
    .header__menu--finder li div img {
      width: 21px;
      height: 21px; }
    .header__menu--finder li div input {
      border: 0;
      height: 36px;
      padding: 0 5px 0 5px; }
    .header__menu--finder li div input::placeholder {
      text-align: center; }

.main {
  height: 700px;
  display: flex;
  justify-content: none;
  align-items: none;
  flex-direction: column; }
  .main__route {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50px; }
    .main__route ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-family: "Open Sans";
      font-size: 12px;
      width: 250px;
      margin-top: 10px;
      list-style: none;
      margin-bottom: 30px; }
    .main__route p {
      margin: 0 10px 0 10px; }
    .main__route ul li a {
      color: #AEB6C1;
      text-decoration: none; }
    .main__route ul li:nth-of-type(2) {
      font-weight: 600; }
    .main__route p {
      font-family: "Open Sans";
      color: #AEB6C1; }
  .main .main__product {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 560px;
    margin-top: 20px; }
  .main .main__product--slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 75px;
    height: 560px;
    margin-right: 65px; }
    .main .main__product--slide p {
      color: #DE8F75;
      font-family: "Open Sans";
      font-size: 12px; }
    .main .main__product--slide .play {
      height: 31px;
      width: 31px;
      margin: 5px 0 0 0; }
    .main .main__product--slide .icon {
      margin: 20px 0 20px 0;
      width: 14px;
      height: 8.50px; }
    .main .main__product--slide .prod {
      min-width: 75px;
      height: 95px;
      margin: 5px 0 5px 0; }
  .main .main__product--img {
    min-width: 430px;
    height: 560px;
    margin-right: 110px; }
  .main .main__product--details {
    min-width: 445px;
    height: 560px;
    background-color: brown; }
